<include file="Com:head" />
<link rel="stylesheet" href="__PUBLIC__/css/login.css?v=221">
<script src="__PUBLIC__/js/login.js"></script>
<div class='videobg'>
    <div class='gridbg'></div>
    <video loop="loop" autoplay='autoplay'>
        <source src="__PUBLIC__/images/wild.webm" type="video/webm">
        <source src="__PUBLIC__/images/wild.mp4" type="video/mp4">
    </video>
</div>

 <div class=" sign_warp content_login">
    <div class="title cl">
        <span class="z">登录</span>
        <span class="y cl">
            <em class="z">没有账号？</em>
            <a class="z reg" href="Reg/index" title="">立刻注册</a>
        </span>
    </div>
        <p>
            <input class='name' name="" type='text' value="" placeholder="请输入用户名/邮箱">
        </p>
        <p>
            <input class='pwd' name="" type='password' value="" placeholder="请输入密码">
        </p>
        <p class='tip'></p>
        <button class="btn sign" type="">登录</button>
</div>
</body>
</html>
